<div class="calendar__content" *ngIf="(eventsService?.events$ | async) as eventsRedux">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="eventsRedux"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (dayClicked)="dayClicked($event.day)"
    >
    </mwl-calendar-month-view>
  </div>
  <div class="edit-table">
    <h3>
      Edit events
    </h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>City</th>
          <th>Remove</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let event of eventsRedux">
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              [attr.maxlength]="30"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.primary"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.start"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              [placeholder]="event.start || ''"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.end"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              [placeholder]="event.end || ''"
            />
          </td>
          <td>
            <select
              class="form-control"
              [(ngModel)]="event.city">
              <option *ngFor="let city of (eventsService.cities$ | async)" [value]="city?.label">{{city?.label}}</option>
            </select>
          </td>
          <td>
            <button class="btn btn-primary mb-2" (click)="updateEvent(event)">
              Update
            </button>
            <button class="btn btn-danger" (click)="deleteEvent(event)">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-end">
      <button class="btn btn-primary float-right" (click)="addEvent()">
        Add new
      </button>
      <button class="btn btn-danger float-right  btn__deleteAll" (click)="deleteEvents()">
        Delete All
      </button>
    </div>
  </div>
</div>
